<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .title{
        text-align: center;
    }
</style>
<body>
    <table border="1px">
        <tr>
            <th>Movie Title</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {%for Movie in res%}
        <tr>
            <td class="title">{{Movie.title}}</td>
            <td class="title"><a href="{%url 'specific1' Movie.id%}">View</a></td>
            <td class="title"><a href="{%url 'update1' Movie.id%}">Update</a></td>
            <td class="title"><a href="{%url 'delete' Movie.id%}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>